// Menu Colours
$text-color: #222;
$main-bg: #282c67;
$menu-bg: #fafafe;
$menu-hover: rgb(0, 65, 245);
$menu-border: #282c67;
$bg-image: url("../img/background-main-blur.jpg");

// Main styles to be inherited
body {
  font-family: "Comfortaa", cursive;
  background-color: $main-bg;
  color: $menu-bg;
  line-height: 1.5;
  margin: 0;
}

//Classes to be used throughout
.container {
  text-align: center;
  margin: 0 auto;
}

// Navigation
nav {
  z-index: 1;
  top: 0; // Fix the menu to the top
  position: fixed; // Fix the menu to the top
  padding: 0px;
  width: 100%;
  background-color: $menu-bg;
  color: $text-color;

  //Image logo in nav bar
  .logo {
    margin: 0;
    margin-left: 12.5%;
  }

  img {
    width: 150px;
  }

  // Menu items
  ul {
    padding-top: 10px;
    margin-top: 0;
    margin-right: 12.5%;
    float: right;
  }

  li {
    display: inline;
    float: left;
  }

  a {
    display: inline-block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: $text-color;
    text-decoration: none;
  }

  li:hover {
    a {
      color: $menu-hover;
    }
  }

  //For responsive menu
  a#openup {
    display: none;
  }
} //nav

//Home page
#home {
  z-index: -1;
  margin: 0;
  padding: 0;
  background: $bg-image no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;

  .container {
    z-index: 1;
    margin: 0 17.5%;
    margin-top: 25vh;
    text-shadow: 2px 2px 3px #000000;
  }
}

//Media queries for mobile
@media screen and (max-width: 500px) {
  nav {
    height: auto;
    border-bottom: 0;

    .logo {
      display: none;
    }

    ul {
      display: none;
      height: auto;
    }

    li {
      width: 100%;
      float: left;
      position: relative;
    }

    a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background-color: $menu-bg;
      border-bottom: 1px solid $menu-border;
    }

    a:hover {
      color: $menu-hover;
    }

    //Hamburger Menu
    a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Safari and Chrome */
      width: 30px;
      height: 30px;
      padding: 10px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }

    //For responsive menu
    a#openup {
      display: block;
      background-color: $menu-bg;
      width: 100%;
      // position: relative;
    }
  } //nav
} // media

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
} /* For IE 6/7 (trigger hasLayout) */
